src/META-INF/wsdl/service.svc.xsd_xsd6.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries"><xs:complexType name="ArrayOfLangText"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="LangText" nillable="true" type="tns:LangText"/></xs:sequence></xs:complexType><xs:element name="ArrayOfLangText" nillable="true" type="tns:ArrayOfLangText"/><xs:complexType name="LangText"><xs:sequence><xs:element minOccurs="0" name="LangID" type="xs:int"/><xs:element minOccurs="0" name="Text" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="LangText" nillable="true" type="tns:LangText"/><xs:simpleType name="ObjectStatus"><xs:restriction base="xs:string"><xs:enumeration value="Actual"/><xs:enumeration value="Deleted"/></xs:restriction></xs:simpleType><xs:element name="ObjectStatus" nillable="true" type="tns:ObjectStatus"/></xs:schema>