src/META-INF/wsdl/service.svc.xsd_xsd4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLib" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
    <xs:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Operations"/>
    <xs:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils"/>
    <xs:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Clients"/>
    <xs:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.Bank"/>
    <xs:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    <xs:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries"/>
    <xs:complexType name="AuthenticationHeader">
        <xs:sequence>
            <xs:element minOccurs="0" name="AppKey" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AuthenticationHeader" nillable="true" type="tns:AuthenticationHeader"/>
    <xs:complexType name="Fault">
        <xs:sequence>
            <xs:element minOccurs="0" name="Code" type="q1:ErrorCode" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLib.Operations"/>
            <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Fault" nillable="true" type="tns:Fault"/>
    <xs:complexType name="FindPersonRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q2:WsRequest" xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DocExpiryDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DocIssueDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="DocNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="DocSeries" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="DocTypeID" type="xs:int"/>
                    <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Middlename" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="PhoneArea" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="PhoneCountryID" type="xs:int"/>
                    <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="UnistreamCardNumber" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="FindPersonRequestMessage" nillable="true" type="tns:FindPersonRequestMessage"/>
    <xs:complexType name="FindPersonResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q3:WsResponse" xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Persons" nillable="true" type="tns:ArrayOfPerson"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="FindPersonResponseMessage" nillable="true" type="tns:FindPersonResponseMessage"/>
    <xs:complexType name="ArrayOfPerson">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson"/>
    <xs:complexType name="Person">
        <xs:sequence>
            <xs:element minOccurs="0" name="Address" nillable="true" type="tns:PersonAddress"/>
            <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="BirthPlace" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Documents" nillable="true" type="tns:ArrayOfDocument"/>
            <xs:element minOccurs="0" name="FinDetails" nillable="true" type="q4:ArrayOfFinDetail" xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLib.Clients"/>
            <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FirstNameLat" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="LastNameLat" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MiddleNameLat" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Phones" nillable="true" type="q5:ArrayOfPhone" xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceLib.Clients"/>
            <xs:element minOccurs="0" name="RBank" nillable="true" type="q6:RBank" xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.Bank"/>
            <xs:element minOccurs="0" name="Residentships" nillable="true" type="q7:ArrayOfResidentship" xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceLib.Clients"/>
            <xs:element minOccurs="0" name="UnistreamCardNumber" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Person" nillable="true" type="tns:Person"/>
    <xs:complexType name="PersonAddress">
        <xs:sequence>
            <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="City" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CountryID" type="xs:int"/>
            <xs:element minOccurs="0" name="Flat" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="House" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
  <!--  <xs:element name="PersonAddress" nillable="true" type="tns:PersonAddress"/>-->
    <xs:complexType name="ArrayOfDocument">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="IssuerCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Series" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="TypeID" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Document" nillable="true" type="tns:Document"/>
    <xs:complexType name="CheckPersonListedRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q8:WsRequest" xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="docNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="docSeries" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="middleName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CheckPersonListedRequestMessage" nillable="true" type="tns:CheckPersonListedRequestMessage"/>
    <xs:complexType name="CheckPersonListedResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q9:WsResponse" xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CheckResult" nillable="true" type="tns:ListedPerson"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CheckPersonListedResponseMessage" nillable="true" type="tns:CheckPersonListedResponseMessage"/>
    <xs:complexType name="ListedPerson">
        <xs:sequence>
            <xs:element minOccurs="0" name="Category" type="xs:int"/>
            <xs:element minOccurs="0" name="DocNumber" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="DocSeries" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Score" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ListedPerson" nillable="true" type="tns:ListedPerson"/>
    <xs:complexType name="CreatePersonRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q10:WsRequest" xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CreatePersonRequestMessage" nillable="true" type="tns:CreatePersonRequestMessage"/>
    <xs:complexType name="CreatePersonResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q11:WsResponse" xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CreatePersonResponseMessage" nillable="true" type="tns:CreatePersonResponseMessage"/>
    <xs:complexType name="IdentifyPersonByCardRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q12:WsRequest" xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardCredentials" nillable="true" type="tns:CardCredentials"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="IdentifyPersonByCardRequestMessage" nillable="true" type="tns:IdentifyPersonByCardRequestMessage"/>
    <xs:complexType name="CardCredentials">
        <xs:sequence>
            <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="CardType" type="xs:int"/>
            <xs:element minOccurs="0" name="PinHash" nillable="true" type="xs:base64Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CardCredentials" nillable="true" type="tns:CardCredentials"/>
    <xs:complexType name="IdentifyPersonByCardResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q13:WsResponse" xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardholderSession" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="PersonID" type="xs:int"/>
                    <xs:element minOccurs="0" name="Templates" nillable="true" type="q14:ArrayOfTemplate" xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServiceLib.Clients"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="IdentifyPersonByCardResponseMessage" nillable="true" type="tns:IdentifyPersonByCardResponseMessage"/>
    <xs:complexType name="GetLastTransferTemplatesRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q15:WsRequest" xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetLastTransferTemplatesRequestMessage" nillable="true" type="tns:GetLastTransferTemplatesRequestMessage"/>
    <xs:complexType name="GetLastTransferTemplatesResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q16:WsResponse" xmlns:q16="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Templates" nillable="true" type="q17:ArrayOfTemplate" xmlns:q17="http://schemas.datacontract.org/2004/07/WcfServiceLib.Clients"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetLastTransferTemplatesResponseMessage" nillable="true" type="tns:GetLastTransferTemplatesResponseMessage"/>
    <xs:complexType name="AddPersonAddressRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q18:WsRequest" xmlns:q18="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="NewPersonAddress" nillable="true" type="tns:PersonAddress"/>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AddPersonAddressRequestMessage" nillable="true" type="tns:AddPersonAddressRequestMessage"/>
    <xs:complexType name="AddPersonAddressResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q19:WsResponse" xmlns:q19="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AddPersonAddressResponseMessage" nillable="true" type="tns:AddPersonAddressResponseMessage"/>
    <xs:complexType name="AddPersonDocumentRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q20:WsRequest" xmlns:q20="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="NewPersonDocument" nillable="true" type="tns:Document"/>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AddPersonDocumentRequestMessage" nillable="true" type="tns:AddPersonDocumentRequestMessage"/>
    <xs:complexType name="AddPersonDocumentResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q21:WsResponse" xmlns:q21="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AddPersonDocumentResponseMessage" nillable="true" type="tns:AddPersonDocumentResponseMessage"/>
    <xs:complexType name="AddPersonPhoneRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q22:WsRequest" xmlns:q22="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="NewPersonPhone" nillable="true" type="q23:Phone" xmlns:q23="http://schemas.datacontract.org/2004/07/WcfServiceLib.Clients"/>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AddPersonPhoneRequestMessage" nillable="true" type="tns:AddPersonPhoneRequestMessage"/>
    <xs:complexType name="AddPersonPhoneResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q24:WsResponse" xmlns:q24="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="AddPersonPhoneResponseMessage" nillable="true" type="tns:AddPersonPhoneResponseMessage"/>
    <xs:complexType name="CreateRCompanyRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q25:WsRequest" xmlns:q25="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="RCompany" nillable="true" type="tns:RCompany"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CreateRCompanyRequestMessage" nillable="true" type="tns:CreateRCompanyRequestMessage"/>
    <xs:complexType name="RCompany">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:CompanyBase">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Acc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="BIC" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CorrAccount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Inn" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RCompany" nillable="true" type="tns:RCompany"/>
    <xs:complexType name="CompanyBase">
        <xs:sequence>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CompanyBase" nillable="true" type="tns:CompanyBase"/>
    <xs:complexType name="CreateRCompanyResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q26:WsResponse" xmlns:q26="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="RCompany" nillable="true" type="tns:RCompany"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CreateRCompanyResponseMessage" nillable="true" type="tns:CreateRCompanyResponseMessage"/>
    <xs:complexType name="PersonificateWalletRequesetMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q27:WsRequest" xmlns:q27="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
                    <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PersonificateWalletRequesetMessage" nillable="true" type="tns:PersonificateWalletRequesetMessage"/>
    <xs:complexType name="PersonificateWalletResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q28:WsResponse" xmlns:q28="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ResponseCode" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PersonificateWalletResponseMessage" nillable="true" type="tns:PersonificateWalletResponseMessage"/>
    <xs:complexType name="BankAddress">
        <xs:sequence>
            <xs:element minOccurs="0" name="Building" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="BuildingLat" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="GeographicalCoordinates" nillable="true" type="tns:GeographicalCoordinates"/>
            <xs:element minOccurs="0" name="House" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="HouseLat" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="RegionID" type="xs:int"/>
            <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="StreetLat" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BankAddress" nillable="true" type="tns:BankAddress"/>
    <xs:complexType name="GeographicalCoordinates">
        <xs:sequence>
            <xs:element minOccurs="0" name="Latitude" type="xs:double"/>
            <xs:element minOccurs="0" name="Longitude" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GeographicalCoordinates" nillable="true" type="tns:GeographicalCoordinates"/>
    <xs:simpleType name="TransferType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Remittance">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Credit">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Payment">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">200</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PayOrder">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">300</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="TransferType" nillable="true" type="tns:TransferType"/>
    <xs:complexType name="InsertTransferRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q29:WsRequest" xmlns:q29="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InsertTransferRequestMessage" nillable="true" type="tns:InsertTransferRequestMessage"/>
    <xs:complexType name="Transfer">
        <xs:sequence>
            <xs:element minOccurs="0" name="Amounts" nillable="true" type="tns:ArrayOfAmount"/>
            <xs:element minOccurs="0" name="CancelDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="CashierUserAction" nillable="true" type="tns:UserActionInfo"/>
            <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Consumers" nillable="true" type="tns:ArrayOfConsumer"/>
            <xs:element minOccurs="0" name="ControlNumber" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="FxRate" type="xs:double"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="NoticeList" nillable="true" type="tns:ArrayOfNoticeListItem"/>
            <xs:element minOccurs="0" name="Participators" nillable="true" type="tns:ArrayOfParticipator"/>
            <xs:element minOccurs="0" name="PayoutDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ReceiverAccount" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="ReturnDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="SentDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfService"/>
            <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Status" type="tns:TransferStatus"/>
            <xs:element minOccurs="0" name="TellerUserAction" nillable="true" type="tns:UserActionInfo"/>
            <xs:element minOccurs="0" name="TransitAccount" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Type" type="tns:TransferType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Transfer" nillable="true" type="tns:Transfer"/>
    <xs:complexType name="ArrayOfAmount">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Amount" nillable="true" type="tns:Amount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfAmount" nillable="true" type="tns:ArrayOfAmount"/>
    <xs:complexType name="Amount">
        <xs:sequence>
            <xs:element minOccurs="0" name="CurrencyID" type="xs:int"/>
            <xs:element minOccurs="0" name="Rate" type="xs:double"/>
            <xs:element minOccurs="0" name="Sum" type="xs:decimal"/>
            <xs:element minOccurs="0" name="Type" type="tns:AmountType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Amount" nillable="true" type="tns:Amount"/>
    <xs:simpleType name="AmountType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Main"/>
            <xs:enumeration value="ActualPaid"/>
            <xs:enumeration value="EstimatedPaidout">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ActualPaidout">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PrimaryPaidComission">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AmountType" nillable="true" type="tns:AmountType"/>
    <xs:complexType name="UserActionInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="ActionLocalDateTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="UserID" type="xs:int"/>
            <xs:element minOccurs="0" name="UserUnistreamCard" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UserActionInfo" nillable="true" type="tns:UserActionInfo"/>
    <xs:complexType name="ArrayOfConsumer">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Consumer" nillable="true" type="tns:Consumer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfConsumer" nillable="true" type="tns:ArrayOfConsumer"/>
    <xs:complexType name="Consumer">
        <xs:sequence>
            <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person"/>
            <xs:element minOccurs="0" name="RCompany" nillable="true" type="tns:RCompany"/>
            <xs:element minOccurs="0" name="Role" type="tns:ConsumerRole"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Consumer" nillable="true" type="tns:Consumer"/>
    <xs:simpleType name="ConsumerRole">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sender">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SendersRepresentative">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ExpectedReceiver">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ActualReceiver">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ReceiversRepresentative">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ReceiverCompany">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ConsumerRole" nillable="true" type="tns:ConsumerRole"/>
    <xs:complexType name="ArrayOfNoticeListItem">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="NoticeListItem" nillable="true" type="tns:NoticeListItem"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfNoticeListItem" nillable="true" type="tns:ArrayOfNoticeListItem"/>
    <xs:complexType name="NoticeListItem">
        <xs:sequence>
            <xs:element minOccurs="0" name="NoticeID" type="xs:int"/>
            <xs:element minOccurs="0" name="NoticeStatus" type="tns:NoticeStatus"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NoticeListItem" nillable="true" type="tns:NoticeListItem"/>
    <xs:simpleType name="NoticeStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Accepted">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Approved">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Rejected">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="NoticeStatus" nillable="true" type="tns:NoticeStatus"/>
    <xs:complexType name="ArrayOfParticipator">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Participator" nillable="true" type="tns:Participator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfParticipator" nillable="true" type="tns:ArrayOfParticipator"/>
    <xs:complexType name="Participator">
        <xs:sequence>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="Role" type="tns:ParticipatorRole"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Participator" nillable="true" type="tns:Participator"/>
    <xs:simpleType name="ParticipatorRole">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SenderPOS">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ExpectedReceiverPOS">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ActualReceiverPOS">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ParticipatorRole" nillable="true" type="tns:ParticipatorRole"/>
    <xs:complexType name="ArrayOfService">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService"/>
    <xs:complexType name="Service">
        <xs:sequence>
            <xs:element minOccurs="0" name="CurrencyID" type="xs:int"/>
            <xs:element minOccurs="0" name="Fee" type="xs:decimal"/>
            <xs:element minOccurs="0" name="Mode" type="tns:ServiceMode"/>
            <xs:element minOccurs="0" name="OptionalServiceGroupID" type="xs:int"/>
            <xs:element minOccurs="0" name="ParticipatorID" type="xs:int"/>
            <xs:element minOccurs="0" name="ProposalText" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Response" type="tns:Response"/>
            <xs:element minOccurs="0" name="ServiceID" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Service" nillable="true" type="tns:Service"/>
    <xs:simpleType name="ServiceMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Required"/>
            <xs:enumeration value="Optional"/>
            <xs:enumeration value="Term"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="ServiceMode" nillable="true" type="tns:ServiceMode"/>
    <xs:simpleType name="Response">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Accepted"/>
            <xs:enumeration value="Rejected"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Response" nillable="true" type="tns:Response"/>
    <xs:simpleType name="TransferStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Accepted">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Paid">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Rejected">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Cancelled">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="TransferStatus" nillable="true" type="tns:TransferStatus"/>
    <xs:complexType name="InsertTransferResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q30:WsResponse" xmlns:q30="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InsertTransferResponseMessage" nillable="true" type="tns:InsertTransferResponseMessage"/>
    <xs:complexType name="CreatePrepaidCardRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q31:WsRequest" xmlns:q31="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:Person"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CreatePrepaidCardRequestMessage" nillable="true" type="tns:CreatePrepaidCardRequestMessage"/>
    <xs:complexType name="CreatePrepaidCardResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q32:WsResponse" xmlns:q32="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:Person"/>
                    <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CreatePrepaidCardResponseMessage" nillable="true" type="tns:CreatePrepaidCardResponseMessage"/>
    <xs:complexType name="ActivatePrepaidCardRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q33:WsRequest" xmlns:q33="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Amount" type="xs:double"/>
                    <xs:element minOccurs="0" name="BankID" type="xs:int"/>
                    <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:Person"/>
                    <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CurrencyID" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ActivatePrepaidCardRequestMessage" nillable="true" type="tns:ActivatePrepaidCardRequestMessage"/>
    <xs:complexType name="ActivatePrepaidCardResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q34:WsResponse" xmlns:q34="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:Person"/>
                    <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CardStatus" type="tns:PrepaidCardStatus"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ActivatePrepaidCardResponseMessage" nillable="true" type="tns:ActivatePrepaidCardResponseMessage"/>
    <xs:simpleType name="PrepaidCardStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Activated"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="PrepaidCardStatus" nillable="true" type="tns:PrepaidCardStatus"/>
    <xs:complexType name="InsertTransfer2RequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q35:WsRequest" xmlns:q35="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardholderSession" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InsertTransfer2RequestMessage" nillable="true" type="tns:InsertTransfer2RequestMessage"/>
    <xs:complexType name="InsertTransfer2ResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q36:WsResponse" xmlns:q36="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InsertTransfer2ResponseMessage" nillable="true" type="tns:InsertTransfer2ResponseMessage"/>
    <xs:complexType name="PrepareTransferRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q37:WsRequest" xmlns:q37="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PrepareTransferRequestMessage" nillable="true" type="tns:PrepareTransferRequestMessage"/>
    <xs:complexType name="PrepareTransferResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q38:WsResponse" xmlns:q38="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                    <xs:element minOccurs="0" name="TransferRestrictions" nillable="true" type="tns:ArrayOfTransferRestriction"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PrepareTransferResponseMessage" nillable="true" type="tns:PrepareTransferResponseMessage"/>
    <xs:complexType name="ArrayOfTransferRestriction">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="TransferRestriction" nillable="true" type="tns:TransferRestriction"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfTransferRestriction" nillable="true" type="tns:ArrayOfTransferRestriction"/>
    <xs:complexType name="TransferRestriction">
        <xs:sequence>
            <xs:element minOccurs="0" name="Amount" type="xs:decimal"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="Message" nillable="true" type="q39:ArrayOfLangText" xmlns:q39="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries"/>
            <xs:element minOccurs="0" name="Quantity" type="xs:int"/>
            <xs:element minOccurs="0" name="Type" type="tns:TransferRestrictionType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TransferRestriction" nillable="true" type="tns:TransferRestriction"/>
    <xs:simpleType name="TransferRestrictionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Warning"/>
            <xs:enumeration value="Stop"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="TransferRestrictionType" nillable="true" type="tns:TransferRestrictionType"/>
    <xs:complexType name="FindTransferRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q40:WsRequest" xmlns:q40="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="BankID" type="xs:int"/>
                    <xs:element minOccurs="0" name="ControlNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="CurrencyID" type="xs:int"/>
                    <xs:element minOccurs="0" name="Sum" type="xs:double"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="FindTransferRequestMessage" nillable="true" type="tns:FindTransferRequestMessage"/>
    <xs:complexType name="FindTransferResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q41:WsResponse" xmlns:q41="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="FindTransferResponseMessage" nillable="true" type="tns:FindTransferResponseMessage"/>
    <xs:complexType name="PayoutTransferRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q42:WsRequest" xmlns:q42="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PayoutTransferRequestMessage" nillable="true" type="tns:PayoutTransferRequestMessage"/>
    <xs:complexType name="PayoutTransferResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q43:WsResponse" xmlns:q43="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PayoutTransferResponseMessage" nillable="true" type="tns:PayoutTransferResponseMessage"/>
    <xs:complexType name="GetTransferBySourceIDRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q44:WsRequest" xmlns:q44="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetTransferBySourceIDRequestMessage" nillable="true" type="tns:GetTransferBySourceIDRequestMessage"/>
    <xs:complexType name="GetTransferBySourceIDResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q45:WsResponse" xmlns:q45="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetTransferBySourceIDResponseMessage" nillable="true" type="tns:GetTransferBySourceIDResponseMessage"/>
    <xs:complexType name="GetTransferByIDRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q46:WsRequest" xmlns:q46="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TransferID" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetTransferByIDRequestMessage" nillable="true" type="tns:GetTransferByIDRequestMessage"/>
    <xs:complexType name="GetTransferByIDResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q47:WsResponse" xmlns:q47="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetTransferByIDResponseMessage" nillable="true" type="tns:GetTransferByIDResponseMessage"/>
    <xs:complexType name="ReturnTransferRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q48:WsRequest" xmlns:q48="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ReturnTransferRequestMessage" nillable="true" type="tns:ReturnTransferRequestMessage"/>
    <xs:complexType name="ReturnTransferResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q49:WsResponse" xmlns:q49="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ReturnTransferResponseMessage" nillable="true" type="tns:ReturnTransferResponseMessage"/>
    <xs:complexType name="EstimateMainAmountRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q50:WsRequest" xmlns:q50="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TotalAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="EstimateMainAmountRequestMessage" nillable="true" type="tns:EstimateMainAmountRequestMessage"/>
    <xs:complexType name="EstimateMainAmountResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q51:WsResponse" xmlns:q51="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="EstimateMainAmountResponseMessage" nillable="true" type="tns:EstimateMainAmountResponseMessage"/>
    <xs:complexType name="GetClearingReportRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q52:WsRequest" xmlns:q52="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetClearingReportRequestMessage" nillable="true" type="tns:GetClearingReportRequestMessage"/>
    <xs:complexType name="GetClearingReportResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q53:WsResponse" xmlns:q53="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Report" nillable="true" type="tns:ClearingReport"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetClearingReportResponseMessage" nillable="true" type="tns:GetClearingReportResponseMessage"/>
    <xs:complexType name="ClearingReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="Agent" type="xs:int"/>
            <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfClearingRow"/>
            <xs:element minOccurs="0" name="TransactionsCount" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ClearingReport" nillable="true" type="tns:ClearingReport"/>
    <xs:complexType name="ArrayOfClearingRow">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ClearingRow" nillable="true" type="tns:ClearingRow"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfClearingRow" nillable="true" type="tns:ArrayOfClearingRow"/>
    <xs:complexType name="ClearingRow">
        <xs:sequence>
            <xs:element minOccurs="0" name="BankID" type="xs:int"/>
            <xs:element minOccurs="0" name="ControlNumber" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Rate" type="xs:double"/>
            <xs:element minOccurs="0" name="Settlement" nillable="true" type="tns:AmountData"/>
            <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:AmountData"/>
            <xs:element minOccurs="0" name="Type" type="tns:TransactionType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ClearingRow" nillable="true" type="tns:ClearingRow"/>
    <xs:complexType name="AmountData">
        <xs:sequence>
            <xs:element minOccurs="0" name="Amount" type="xs:decimal"/>
            <xs:element minOccurs="0" name="Commission" type="xs:decimal"/>
            <xs:element minOccurs="0" name="CurrencyID" type="xs:int"/>
            <xs:element minOccurs="0" name="Date" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AmountData" nillable="true" type="tns:AmountData"/>
    <xs:simpleType name="TransactionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cancellation">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Outbound">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Inbound">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="TransactionType" nillable="true" type="tns:TransactionType"/>
    <xs:complexType name="ConfirmClearingReportRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q54:WsRequest" xmlns:q54="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Report" nillable="true" type="tns:ClearingReport"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ConfirmClearingReportRequestMessage" nillable="true" type="tns:ConfirmClearingReportRequestMessage"/>
    <xs:complexType name="ConfirmClearingReportResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q55:WsResponse" xmlns:q55="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ConfirmClearingReportResponseMessage" nillable="true" type="tns:ConfirmClearingReportResponseMessage"/>
    <xs:complexType name="GetTransfersListRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q56:WsRequest" xmlns:q56="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Date" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="Direction" type="tns:DirectionFilter"/>
                    <xs:element minOccurs="0" name="ID" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetTransfersListRequestMessage" nillable="true" type="tns:GetTransfersListRequestMessage"/>
    <xs:simpleType name="DirectionFilter">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="OutgoingTransfers"/>
            <xs:enumeration value="IncomingTransfers"/>
            <xs:enumeration value="PaidTransfers"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DirectionFilter" nillable="true" type="tns:DirectionFilter"/>
    <xs:complexType name="GetTransfersListResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q57:WsResponse" xmlns:q57="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfers" nillable="true" type="tns:ArrayOfTransfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetTransfersListResponseMessage" nillable="true" type="tns:GetTransfersListResponseMessage"/>
    <xs:complexType name="ArrayOfTransfer">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Transfer" nillable="true" type="tns:Transfer"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfTransfer" nillable="true" type="tns:ArrayOfTransfer"/>
    <xs:complexType name="GetTransfersChangesRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q58:WsRequest" xmlns:q58="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="UpdateCount" type="xs:long"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetTransfersChangesRequestMessage" nillable="true" type="tns:GetTransfersChangesRequestMessage"/>
    <xs:complexType name="GetTransfersChangesResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q59:WsResponse" xmlns:q59="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfers" nillable="true" type="tns:ArrayOfTransfer"/>
                    <xs:element minOccurs="0" name="UpdateCount" type="xs:long"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetTransfersChangesResponseMessage" nillable="true" type="tns:GetTransfersChangesResponseMessage"/>
    <xs:complexType name="InsertTransferWithCardRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q60:WsRequest" xmlns:q60="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InsertTransferWithCardRequestMessage" nillable="true" type="tns:InsertTransferWithCardRequestMessage"/>
    <xs:complexType name="InsertTransferWithCardResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q61:WsResponse" xmlns:q61="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InsertTransferWithCardResponseMessage" nillable="true" type="tns:InsertTransferWithCardResponseMessage"/>
    <xs:complexType name="CreateSMSConfirmationRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q62:WsRequest" xmlns:q62="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CreateSMSConfirmationRequestMessage" nillable="true" type="tns:CreateSMSConfirmationRequestMessage"/>
    <xs:complexType name="CreateSMSConfrmationResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q63:WsResponse" xmlns:q63="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ConfirmationId" type="ser:guid"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CreateSMSConfrmationResponseMessage" nillable="true" type="tns:CreateSMSConfrmationResponseMessage"/>
    <xs:complexType name="CheckSMSConfirmationRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q64:WsRequest" xmlns:q64="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ConfirmationId" type="ser:guid"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CheckSMSConfirmationRequestMessage" nillable="true" type="tns:CheckSMSConfirmationRequestMessage"/>
    <xs:complexType name="CheckSMSConfirmationResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q65:WsResponse" xmlns:q65="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CheckResult" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="CheckSMSConfirmationResponseMessage" nillable="true" type="tns:CheckSMSConfirmationResponseMessage"/>
    <xs:complexType name="InsertNoticeRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q66:WsRequest" xmlns:q66="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InsertNoticeRequestMessage" nillable="true" type="tns:InsertNoticeRequestMessage"/>
    <xs:complexType name="Notice">
        <xs:sequence>
            <xs:element minOccurs="0" name="Consumers" nillable="true" type="tns:ArrayOfConsumer"/>
            <xs:element minOccurs="0" name="ID" type="xs:int"/>
            <xs:element minOccurs="0" name="Participators" nillable="true" type="tns:ArrayOfParticipator"/>
            <xs:element minOccurs="0" name="SentDate" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfService"/>
            <xs:element minOccurs="0" name="Status" type="tns:NoticeStatus"/>
            <xs:element minOccurs="0" name="Transfer" nillable="true" type="tns:Transfer"/>
            <xs:element minOccurs="0" name="Type" type="tns:NoticeType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Notice" nillable="true" type="tns:Notice"/>
    <xs:simpleType name="NoticeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="ChangeReceiver"/>
            <xs:enumeration value="ChangeBank"/>
            <xs:enumeration value="RejectTransfer">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CancelTransfer">
                <xs:annotation>
                    <xs:appinfo>
                        <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
                    </xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="NoticeType" nillable="true" type="tns:NoticeType"/>
    <xs:complexType name="InsertNoticeResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q67:WsResponse" xmlns:q67="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="InsertNoticeResponseMessage" nillable="true" type="tns:InsertNoticeResponseMessage"/>
    <xs:complexType name="PrepareNoticeRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q68:WsRequest" xmlns:q68="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PrepareNoticeRequestMessage" nillable="true" type="tns:PrepareNoticeRequestMessage"/>
    <xs:complexType name="PrepareNoticeResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q69:WsResponse" xmlns:q69="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="PrepareNoticeResponseMessage" nillable="true" type="tns:PrepareNoticeResponseMessage"/>
    <xs:complexType name="GetNoticeByIDRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q70:WsRequest" xmlns:q70="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ID" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetNoticeByIDRequestMessage" nillable="true" type="tns:GetNoticeByIDRequestMessage"/>
    <xs:complexType name="GetNoticeByIDResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q71:WsResponse" xmlns:q71="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetNoticeByIDResponseMessage" nillable="true" type="tns:GetNoticeByIDResponseMessage"/>
    <xs:complexType name="ApproveNoticeRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q72:WsRequest" xmlns:q72="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ApproveNoticeRequestMessage" nillable="true" type="tns:ApproveNoticeRequestMessage"/>
    <xs:complexType name="ApproveNoticeResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q73:WsResponse" xmlns:q73="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ApproveNoticeResponseMessage" nillable="true" type="tns:ApproveNoticeResponseMessage"/>
    <xs:complexType name="RejectNoticeRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q74:WsRequest" xmlns:q74="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RejectNoticeRequestMessage" nillable="true" type="tns:RejectNoticeRequestMessage"/>
    <xs:complexType name="RejectNoticeResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q75:WsResponse" xmlns:q75="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notice" nillable="true" type="tns:Notice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RejectNoticeResponseMessage" nillable="true" type="tns:RejectNoticeResponseMessage"/>
    <xs:complexType name="GetNoticesListRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q76:WsRequest" xmlns:q76="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Date" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="ID" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetNoticesListRequestMessage" nillable="true" type="tns:GetNoticesListRequestMessage"/>
    <xs:complexType name="GetNoticesListResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q77:WsResponse" xmlns:q77="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notices" nillable="true" type="tns:ArrayOfNotice"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetNoticesListResponseMessage" nillable="true" type="tns:GetNoticesListResponseMessage"/>
    <xs:complexType name="ArrayOfNotice">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Notice" nillable="true" type="tns:Notice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ArrayOfNotice" nillable="true" type="tns:ArrayOfNotice"/>
    <xs:complexType name="GetNoticesChangesRequestMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q78:WsRequest" xmlns:q78="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="UpdateCount" type="xs:long"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetNoticesChangesRequestMessage" nillable="true" type="tns:GetNoticesChangesRequestMessage"/>
    <xs:complexType name="GetNoticesChangesResponseMessage">
        <xs:complexContent mixed="false">
            <xs:extension base="q79:WsResponse" xmlns:q79="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Notices" nillable="true" type="tns:ArrayOfNotice"/>
                    <xs:element minOccurs="0" name="UpdateCount" type="xs:long"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetNoticesChangesResponseMessage" nillable="true" type="tns:GetNoticesChangesResponseMessage"/>
</xs:schema>