xml-resources/web-service-references/service/wsdl/test2.unistream.com_82/wcflib-tc/service.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils"><xs:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib"/><xs:complexType name="WsRequest"><xs:sequence><xs:element minOccurs="0" name="AuthenticationHeader" nillable="true" type="q1:AuthenticationHeader" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLib"/></xs:sequence></xs:complexType><xs:element name="WsRequest" nillable="true" type="tns:WsRequest"/><xs:complexType name="WsResponse"><xs:sequence><xs:element minOccurs="0" name="Fault" nillable="true" type="q2:Fault" xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLib"/></xs:sequence></xs:complexType><xs:element name="WsResponse" nillable="true" type="tns:WsResponse"/></xs:schema>