src/META-INF/service.svc.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="WebService" targetNamespace="http://test.unistream.com/wcflib/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://test.unistream.com/wcflib/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="unistream.com/plus/webservice/v1" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
    <wsdl:import namespace="unistream.com/plus/webservice/v1" location="service.svc.wsdl_wsdl0.xml"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://test.unistream.com/wcflib/Imports">
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd0" namespace="http://test.unistream.com/wcflib/"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.Country"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Utils"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Operations"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.Currency"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Clients"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.Bank"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.Region"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.DocumentType"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.BankInfo"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.Tax"/>
            <xsd:import schemaLocation="http://test2.unistream.com:82/wcflib-tc/service.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLib.Dictionaries.Card"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="IWebService_GetCountries_InputMessage">
        <wsdl:part name="parameters" element="tns:GetCountries"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetCountries_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetCountriesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetCountriesChanges_InputMessage">
        <wsdl:part name="parameters" element="tns:GetCountriesChanges"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetCountriesChanges_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetCountriesChangesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetCurrenciesChanges_InputMessage">
        <wsdl:part name="parameters" element="tns:GetCurrenciesChanges"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetCurrenciesChanges_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetCurrenciesChangesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_FindPerson_InputMessage">
        <wsdl:part name="parameters" element="tns:FindPerson"/>
    </wsdl:message>
    <wsdl:message name="IWebService_FindPerson_OutputMessage">
        <wsdl:part name="parameters" element="tns:FindPersonResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CheckPersonListed_InputMessage">
        <wsdl:part name="parameters" element="tns:CheckPersonListed"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CheckPersonListed_OutputMessage">
        <wsdl:part name="parameters" element="tns:CheckPersonListedResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreatePerson_InputMessage">
        <wsdl:part name="parameters" element="tns:CreatePerson"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreatePerson_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreatePersonResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_IdentifyPersonByCard_InputMessage">
        <wsdl:part name="parameters" element="tns:IdentifyPersonByCard"/>
    </wsdl:message>
    <wsdl:message name="IWebService_IdentifyPersonByCard_OutputMessage">
        <wsdl:part name="parameters" element="tns:IdentifyPersonByCardResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetLastTransferTemplates_InputMessage">
        <wsdl:part name="parameters" element="tns:GetLastTransferTemplates"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetLastTransferTemplates_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetLastTransferTemplatesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_AddPersonAddress_InputMessage">
        <wsdl:part name="parameters" element="tns:AddPersonAddress"/>
    </wsdl:message>
    <wsdl:message name="IWebService_AddPersonAddress_OutputMessage">
        <wsdl:part name="parameters" element="tns:AddPersonAddressResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_AddPersonDocument_InputMessage">
        <wsdl:part name="parameters" element="tns:AddPersonDocument"/>
    </wsdl:message>
    <wsdl:message name="IWebService_AddPersonDocument_OutputMessage">
        <wsdl:part name="parameters" element="tns:AddPersonDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_AddPersonPhone_InputMessage">
        <wsdl:part name="parameters" element="tns:AddPersonPhone"/>
    </wsdl:message>
    <wsdl:message name="IWebService_AddPersonPhone_OutputMessage">
        <wsdl:part name="parameters" element="tns:AddPersonPhoneResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreateRCompany_InputMessage">
        <wsdl:part name="parameters" element="tns:CreateRCompany"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreateRCompany_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreateRCompanyResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_PersonificateWallet_InputMessage">
        <wsdl:part name="parameters" element="tns:PersonificateWallet"/>
    </wsdl:message>
    <wsdl:message name="IWebService_PersonificateWallet_OutputMessage">
        <wsdl:part name="parameters" element="tns:PersonificateWalletResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetBankByID_InputMessage">
        <wsdl:part name="parameters" element="tns:GetBankByID"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetBankByID_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetBankByIDResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetBanksChanges_InputMessage">
        <wsdl:part name="parameters" element="tns:GetBanksChanges"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetBanksChanges_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetBanksChangesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_FindRBankByBic_InputMessage">
        <wsdl:part name="parameters" element="tns:FindRBankByBic"/>
    </wsdl:message>
    <wsdl:message name="IWebService_FindRBankByBic_OutputMessage">
        <wsdl:part name="parameters" element="tns:FindRBankByBicResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_InsertTransfer_InputMessage">
        <wsdl:part name="parameters" element="tns:InsertTransfer"/>
    </wsdl:message>
    <wsdl:message name="IWebService_InsertTransfer_OutputMessage">
        <wsdl:part name="parameters" element="tns:InsertTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreatePrepaidCard_InputMessage">
        <wsdl:part name="parameters" element="tns:CreatePrepaidCard"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreatePrepaidCard_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreatePrepaidCardResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_ActivatePrepaidCard_InputMessage">
        <wsdl:part name="parameters" element="tns:ActivatePrepaidCard"/>
    </wsdl:message>
    <wsdl:message name="IWebService_ActivatePrepaidCard_OutputMessage">
        <wsdl:part name="parameters" element="tns:ActivatePrepaidCardResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_InsertTransfer2_InputMessage">
        <wsdl:part name="parameters" element="tns:InsertTransfer2"/>
    </wsdl:message>
    <wsdl:message name="IWebService_InsertTransfer2_OutputMessage">
        <wsdl:part name="parameters" element="tns:InsertTransfer2Response"/>
    </wsdl:message>
    <wsdl:message name="IWebService_PrepareTransfer_InputMessage">
        <wsdl:part name="parameters" element="tns:PrepareTransfer"/>
    </wsdl:message>
    <wsdl:message name="IWebService_PrepareTransfer_OutputMessage">
        <wsdl:part name="parameters" element="tns:PrepareTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_FindTransfer_InputMessage">
        <wsdl:part name="parameters" element="tns:FindTransfer"/>
    </wsdl:message>
    <wsdl:message name="IWebService_FindTransfer_OutputMessage">
        <wsdl:part name="parameters" element="tns:FindTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_PayoutTransfer_InputMessage">
        <wsdl:part name="parameters" element="tns:PayoutTransfer"/>
    </wsdl:message>
    <wsdl:message name="IWebService_PayoutTransfer_OutputMessage">
        <wsdl:part name="parameters" element="tns:PayoutTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTransferBySourceID_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTransferBySourceID"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTransferBySourceID_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTransferBySourceIDResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTransferByID_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTransferByID"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTransferByID_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTransferByIDResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_ReturnTransfer_InputMessage">
        <wsdl:part name="parameters" element="tns:ReturnTransfer"/>
    </wsdl:message>
    <wsdl:message name="IWebService_ReturnTransfer_OutputMessage">
        <wsdl:part name="parameters" element="tns:ReturnTransferResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_EstimateMainAmount_InputMessage">
        <wsdl:part name="parameters" element="tns:EstimateMainAmount"/>
    </wsdl:message>
    <wsdl:message name="IWebService_EstimateMainAmount_OutputMessage">
        <wsdl:part name="parameters" element="tns:EstimateMainAmountResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetClearingReport_InputMessage">
        <wsdl:part name="parameters" element="tns:GetClearingReport"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetClearingReport_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetClearingReportResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_ConfirmClearingReport_InputMessage">
        <wsdl:part name="parameters" element="tns:ConfirmClearingReport"/>
    </wsdl:message>
    <wsdl:message name="IWebService_ConfirmClearingReport_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConfirmClearingReportResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTransfersList_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTransfersList"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTransfersList_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTransfersListResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTransfersChanges_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTransfersChanges"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTransfersChanges_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTransfersChangesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_InsertTransferWithCard_InputMessage">
        <wsdl:part name="parameters" element="tns:InsertTransferWithCard"/>
    </wsdl:message>
    <wsdl:message name="IWebService_InsertTransferWithCard_OutputMessage">
        <wsdl:part name="parameters" element="tns:InsertTransferWithCardResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreateSmsConfrmation_InputMessage">
        <wsdl:part name="parameters" element="tns:CreateSmsConfrmation"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreateSmsConfrmation_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreateSmsConfrmationResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CheckSmsConfirmation_InputMessage">
        <wsdl:part name="parameters" element="tns:CheckSmsConfirmation"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CheckSmsConfirmation_OutputMessage">
        <wsdl:part name="parameters" element="tns:CheckSmsConfirmationResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_FindRegion_InputMessage">
        <wsdl:part name="parameters" element="tns:FindRegion"/>
    </wsdl:message>
    <wsdl:message name="IWebService_FindRegion_OutputMessage">
        <wsdl:part name="parameters" element="tns:FindRegionResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetRegionsChanges_InputMessage">
        <wsdl:part name="parameters" element="tns:GetRegionsChanges"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetRegionsChanges_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetRegionsChangesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_InsertNotice_InputMessage">
        <wsdl:part name="parameters" element="tns:InsertNotice"/>
    </wsdl:message>
    <wsdl:message name="IWebService_InsertNotice_OutputMessage">
        <wsdl:part name="parameters" element="tns:InsertNoticeResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_PrepareNotice_InputMessage">
        <wsdl:part name="parameters" element="tns:PrepareNotice"/>
    </wsdl:message>
    <wsdl:message name="IWebService_PrepareNotice_OutputMessage">
        <wsdl:part name="parameters" element="tns:PrepareNoticeResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetNoticeByID_InputMessage">
        <wsdl:part name="parameters" element="tns:GetNoticeByID"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetNoticeByID_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetNoticeByIDResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_ApproveNotice_InputMessage">
        <wsdl:part name="parameters" element="tns:ApproveNotice"/>
    </wsdl:message>
    <wsdl:message name="IWebService_ApproveNotice_OutputMessage">
        <wsdl:part name="parameters" element="tns:ApproveNoticeResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_RejectNotice_InputMessage">
        <wsdl:part name="parameters" element="tns:RejectNotice"/>
    </wsdl:message>
    <wsdl:message name="IWebService_RejectNotice_OutputMessage">
        <wsdl:part name="parameters" element="tns:RejectNoticeResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetNoticesList_InputMessage">
        <wsdl:part name="parameters" element="tns:GetNoticesList"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetNoticesList_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetNoticesListResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetNoticesChanges_InputMessage">
        <wsdl:part name="parameters" element="tns:GetNoticesChanges"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetNoticesChanges_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetNoticesChangesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetDocumentTypeChanges_InputMessage">
        <wsdl:part name="parameters" element="tns:GetDocumentTypeChanges"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetDocumentTypeChanges_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetDocumentTypeChangesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetBankInfosChanges_InputMessage">
        <wsdl:part name="parameters" element="tns:GetBankInfosChanges"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetBankInfosChanges_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetBankInfosChangesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTaxes_InputMessage">
        <wsdl:part name="parameters" element="tns:GetTaxes"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetTaxes_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetTaxesResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetCardByNumber_InputMessage">
        <wsdl:part name="parameters" element="tns:GetCardByNumber"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetCardByNumber_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetCardByNumberResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_IsCardActivated_InputMessage">
        <wsdl:part name="parameters" element="tns:IsCardActivated"/>
    </wsdl:message>
    <wsdl:message name="IWebService_IsCardActivated_OutputMessage">
        <wsdl:part name="parameters" element="tns:IsCardActivatedResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetClientBonusPoints_InputMessage">
        <wsdl:part name="parameters" element="tns:GetClientBonusPoints"/>
    </wsdl:message>
    <wsdl:message name="IWebService_GetClientBonusPoints_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetClientBonusPointsResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreateAndSendNewPinForPrepaidCard_InputMessage">
        <wsdl:part name="parameters" element="tns:CreateAndSendNewPinForPrepaidCard"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreateAndSendNewPinForPrepaidCard_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreateAndSendNewPinForPrepaidCardResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_AuthenticateClientbyCard_InputMessage">
        <wsdl:part name="parameters" element="tns:AuthenticateClientbyCard"/>
    </wsdl:message>
    <wsdl:message name="IWebService_AuthenticateClientbyCard_OutputMessage">
        <wsdl:part name="parameters" element="tns:AuthenticateClientbyCardResponse"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreateAndSendNewPinForUnistreamCard_InputMessage">
        <wsdl:part name="parameters" element="tns:CreateAndSendNewPinForUnistreamCard"/>
    </wsdl:message>
    <wsdl:message name="IWebService_CreateAndSendNewPinForUnistreamCard_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreateAndSendNewPinForUnistreamCardResponse"/>
    </wsdl:message>
    <wsdl:portType msc:usingSession="false" name="IWebService">
        <wsdl:operation name="GetCountries">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICountryProvider/GetCountries" message="tns:IWebService_GetCountries_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICountryProvider/GetCountriesResponse" message="tns:IWebService_GetCountries_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetCountriesChanges">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICountryProvider/GetCountriesChanges" message="tns:IWebService_GetCountriesChanges_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICountryProvider/GetCountriesChangesResponse" message="tns:IWebService_GetCountriesChanges_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetCurrenciesChanges">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICurrencyProvider/GetCurrenciesChanges" message="tns:IWebService_GetCurrenciesChanges_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICurrencyProvider/GetCurrenciesChangesResponse" message="tns:IWebService_GetCurrenciesChanges_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="FindPerson">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/FindPerson" message="tns:IWebService_FindPerson_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/FindPersonResponse" message="tns:IWebService_FindPerson_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CheckPersonListed">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/CheckPersonListed" message="tns:IWebService_CheckPersonListed_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/CheckPersonListedResponse" message="tns:IWebService_CheckPersonListed_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreatePerson">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/CreatePerson" message="tns:IWebService_CreatePerson_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/CreatePersonResponse" message="tns:IWebService_CreatePerson_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="IdentifyPersonByCard">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/IdentifyPersonByCard" message="tns:IWebService_IdentifyPersonByCard_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/IdentifyPersonByCardResponse" message="tns:IWebService_IdentifyPersonByCard_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetLastTransferTemplates">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/GetLastTransferTemplates" message="tns:IWebService_GetLastTransferTemplates_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/GetLastTransferTemplatesResponse" message="tns:IWebService_GetLastTransferTemplates_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AddPersonAddress">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/AddPersonAddress" message="tns:IWebService_AddPersonAddress_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/AddPersonAddressResponse" message="tns:IWebService_AddPersonAddress_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AddPersonDocument">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/AddPersonDocument" message="tns:IWebService_AddPersonDocument_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/AddPersonDocumentResponse" message="tns:IWebService_AddPersonDocument_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AddPersonPhone">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/AddPersonPhone" message="tns:IWebService_AddPersonPhone_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/AddPersonPhoneResponse" message="tns:IWebService_AddPersonPhone_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateRCompany">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/CreateRCompany" message="tns:IWebService_CreateRCompany_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/CreateRCompanyResponse" message="tns:IWebService_CreateRCompany_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PersonificateWallet">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/PersonificateWallet" message="tns:IWebService_PersonificateWallet_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IClientsStore/PersonificateWalletResponse" message="tns:IWebService_PersonificateWallet_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetBankByID">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IBankProvider/GetBankByID" message="tns:IWebService_GetBankByID_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IBankProvider/GetBankByIDResponse" message="tns:IWebService_GetBankByID_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetBanksChanges">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IBankProvider/GetBanksChanges" message="tns:IWebService_GetBanksChanges_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IBankProvider/GetBanksChangesResponse" message="tns:IWebService_GetBanksChanges_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="FindRBankByBic">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IBankProvider/FindRBankByBic" message="tns:IWebService_FindRBankByBic_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IBankProvider/FindRBankByBicResponse" message="tns:IWebService_FindRBankByBic_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="InsertTransfer">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/InsertTransfer" message="tns:IWebService_InsertTransfer_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/InsertTransferResponse" message="tns:IWebService_InsertTransfer_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreatePrepaidCard">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/CreatePrepaidCard" message="tns:IWebService_CreatePrepaidCard_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/CreatePrepaidCardResponse" message="tns:IWebService_CreatePrepaidCard_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ActivatePrepaidCard">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/ActivatePrepaidCard" message="tns:IWebService_ActivatePrepaidCard_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/ActivatePrepaidCardResponse" message="tns:IWebService_ActivatePrepaidCard_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="InsertTransfer2">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/InsertTransfer2" message="tns:IWebService_InsertTransfer2_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/InsertTransfer2Response" message="tns:IWebService_InsertTransfer2_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PrepareTransfer">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/PrepareTransfer" message="tns:IWebService_PrepareTransfer_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/PrepareTransferResponse" message="tns:IWebService_PrepareTransfer_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="FindTransfer">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/FindTransfer" message="tns:IWebService_FindTransfer_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/FindTransferResponse" message="tns:IWebService_FindTransfer_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PayoutTransfer">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/PayoutTransfer" message="tns:IWebService_PayoutTransfer_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/PayoutTransferResponse" message="tns:IWebService_PayoutTransfer_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTransferBySourceID">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetTransferBySourceID" message="tns:IWebService_GetTransferBySourceID_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetTransferBySourceIDResponse" message="tns:IWebService_GetTransferBySourceID_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTransferByID">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetTransferByID" message="tns:IWebService_GetTransferByID_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetTransferByIDResponse" message="tns:IWebService_GetTransferByID_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ReturnTransfer">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/ReturnTransfer" message="tns:IWebService_ReturnTransfer_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/ReturnTransferResponse" message="tns:IWebService_ReturnTransfer_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="EstimateMainAmount">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/EstimateMainAmount" message="tns:IWebService_EstimateMainAmount_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/EstimateMainAmountResponse" message="tns:IWebService_EstimateMainAmount_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetClearingReport">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetClearingReport" message="tns:IWebService_GetClearingReport_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetClearingReportResponse" message="tns:IWebService_GetClearingReport_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConfirmClearingReport">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/ConfirmClearingReport" message="tns:IWebService_ConfirmClearingReport_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/ConfirmClearingReportResponse" message="tns:IWebService_ConfirmClearingReport_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTransfersList">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetTransfersList" message="tns:IWebService_GetTransfersList_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetTransfersListResponse" message="tns:IWebService_GetTransfersList_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTransfersChanges">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetTransfersChanges" message="tns:IWebService_GetTransfersChanges_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/GetTransfersChangesResponse" message="tns:IWebService_GetTransfersChanges_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="InsertTransferWithCard">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/InsertTransferWithCard" message="tns:IWebService_InsertTransferWithCard_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/InsertTransferWithCardResponse" message="tns:IWebService_InsertTransferWithCard_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateSmsConfrmation">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/CreateSmsConfrmation" message="tns:IWebService_CreateSmsConfrmation_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/CreateSmsConfrmationResponse" message="tns:IWebService_CreateSmsConfrmation_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CheckSmsConfirmation">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/CheckSmsConfirmation" message="tns:IWebService_CheckSmsConfirmation_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITransferProvider/CheckSmsConfirmationResponse" message="tns:IWebService_CheckSmsConfirmation_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="FindRegion">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IRegionProvider/FindRegion" message="tns:IWebService_FindRegion_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IRegionProvider/FindRegionResponse" message="tns:IWebService_FindRegion_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetRegionsChanges">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IRegionProvider/GetRegionsChanges" message="tns:IWebService_GetRegionsChanges_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IRegionProvider/GetRegionsChangesResponse" message="tns:IWebService_GetRegionsChanges_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="InsertNotice">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/InsertNotice" message="tns:IWebService_InsertNotice_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/InsertNoticeResponse" message="tns:IWebService_InsertNotice_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PrepareNotice">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/PrepareNotice" message="tns:IWebService_PrepareNotice_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/PrepareNoticeResponse" message="tns:IWebService_PrepareNotice_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetNoticeByID">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/GetNoticeByID" message="tns:IWebService_GetNoticeByID_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/GetNoticeByIDResponse" message="tns:IWebService_GetNoticeByID_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ApproveNotice">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/ApproveNotice" message="tns:IWebService_ApproveNotice_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/ApproveNoticeResponse" message="tns:IWebService_ApproveNotice_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="RejectNotice">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/RejectNotice" message="tns:IWebService_RejectNotice_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/RejectNoticeResponse" message="tns:IWebService_RejectNotice_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetNoticesList">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/GetNoticesList" message="tns:IWebService_GetNoticesList_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/GetNoticesListResponse" message="tns:IWebService_GetNoticesList_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetNoticesChanges">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/GetNoticesChanges" message="tns:IWebService_GetNoticesChanges_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/INoticeProvider/GetNoticesChangesResponse" message="tns:IWebService_GetNoticesChanges_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetDocumentTypeChanges">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IDocumentTypeProvider/GetDocumentTypeChanges" message="tns:IWebService_GetDocumentTypeChanges_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IDocumentTypeProvider/GetDocumentTypeChangesResponse" message="tns:IWebService_GetDocumentTypeChanges_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetBankInfosChanges">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/IBankInfoProvider/GetBankInfosChanges" message="tns:IWebService_GetBankInfosChanges_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/IBankInfoProvider/GetBankInfosChangesResponse" message="tns:IWebService_GetBankInfosChanges_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetTaxes">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ITaxProvider/GetTaxes" message="tns:IWebService_GetTaxes_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ITaxProvider/GetTaxesResponse" message="tns:IWebService_GetTaxes_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetCardByNumber">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/GetCardByNumber" message="tns:IWebService_GetCardByNumber_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/GetCardByNumberResponse" message="tns:IWebService_GetCardByNumber_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="IsCardActivated">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/IsCardActivated" message="tns:IWebService_IsCardActivated_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/IsCardActivatedResponse" message="tns:IWebService_IsCardActivated_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetClientBonusPoints">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/GetClientBonusPoints" message="tns:IWebService_GetClientBonusPoints_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/GetClientBonusPointsResponse" message="tns:IWebService_GetClientBonusPoints_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateAndSendNewPinForPrepaidCard">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/CreateAndSendNewPinForPrepaidCard" message="tns:IWebService_CreateAndSendNewPinForPrepaidCard_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/CreateAndSendNewPinForPrepaidCardResponse" message="tns:IWebService_CreateAndSendNewPinForPrepaidCard_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AuthenticateClientbyCard">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/AuthenticateClientbyCard" message="tns:IWebService_AuthenticateClientbyCard_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/AuthenticateClientbyCardResponse" message="tns:IWebService_AuthenticateClientbyCard_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateAndSendNewPinForUnistreamCard">
            <wsdl:input wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/CreateAndSendNewPinForUnistreamCard" message="tns:IWebService_CreateAndSendNewPinForUnistreamCard_InputMessage"/>
            <wsdl:output wsaw:Action="http://test.unistream.com/wcflib/ICardProvider/CreateAndSendNewPinForUnistreamCardResponse" message="tns:IWebService_CreateAndSendNewPinForUnistreamCard_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:service name="WebService">
        <wsdl:port name="WS2007HttpBinding_IWebService" binding="i0:WS2007HttpBinding_IWebService">
            <soap12:address location="http://test2.unistream.com:82/wcflib-tc/service.svc"/>
            <wsa10:EndpointReference>
                <wsa10:Address>http://test2.unistream.com:82/wcflib-tc/service.svc</wsa10:Address>
                <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <X509Data>
                            <X509Certificate>MIIBsTCCARqgAwIBAgIQe/ap+bb926FK8l8SFtPwMzANBgkqhkiG9w0BAQUFADAXMRUwEwYDVQQDEwxVUGx1c1NlcnZpY2UwHhcNMTExMTIzMjEwMDAwWhcNMjExMTMwMjEwMDAwWjAXMRUwEwYDVQQDEwxVUGx1c1NlcnZpY2UwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAOrmgGFXBkfD1gyiWZwaQoaE1/po0sPe64JTJ/qLFqwUOuuiPeUz4qRjLnFRNKh+YWF7KI/6WJxEZGOILy1oq/R2YQmzkFKhQImYPDhJCuYHBe1pw3aVU4ETL4nND7bLyMEzUWR4+/ZIEFbA4Z3cSXNA4XYVfU9zvWsFJw5QNNFlAgMBAAEwDQYJKoZIhvcNAQEFBQADgYEAd0K3/BmKO4QJ8Zip6tovtUfGVhWBZ+CMFIHgO1eSTbk7BNj/up+Fk9vEI6GGOdZooY6jKKE3Cc4bXwiEX2aM3aGllYOokbmXQPh3bqmVjRNrX9riC3QehhQLHu2d0LiFWiPRS3DXU0u4Pf6u6ysIDpmHWrhN7pg9DEC3D+LU428=</X509Certificate>
                        </X509Data>
                    </KeyInfo>
                </Identity>
            </wsa10:EndpointReference>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>